<div>
    <link rel="shortcut icon" href="#">
    <div>
        <a href="/">Express movie
        </a>
        &nbsp;
        <a href="/movies">Movies
        </a>
        &nbsp;
        <a href="/movie-search">Recherche
        </a>
        &nbsp;
        <span id="connectionLink"><a href="/login">Connexion
        </a></span>
    </div>
</div>
