<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Express Movies</title>
    <link rel="stylesheet" href="../public/style.css">
    <link rel="shortcut icon" href="#">
</head>
    <body>
        <div class="central">
            <%- include('../partials/header') -%>
                <h1>Express, Movie:le site des cinéma</h1>
                <div>Et-vous plutot film ou serie, peu import; vous aller trouver votre bonheur</div>  
            </div>
            <%- include('../partials/footer'); -%>
    </body>
</html>