<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Recherche</title>
    <link rel="stylesheet" href="../public/style.css">
    <link rel="shortcut icon" href="#">
</head>
    <body>
        <%- include('../partials/header') -%>
        <h1>Votre recherche sur le film<em> the movie database </em></h1>
        <div>
        <input type="text" name="term" id="term" placeholder="titre du film">
        <button id="btnSearch">Recherche</button>
        </div>
        <div id="results">
        </div>

    <%- include('../partials/footer'); -%>
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const API_KEY = '743c93ccd24f2f39f6382c094ce83519'
        const term = document.querySelector('#term')
        const btnSearch = document.querySelector('#btnSearch')

        btnSearch.addEventListener('click', search)
        let resultsDiv = document.querySelector('#results')
    function search() {
        const query = `https://api.themoviedb.org/3/search/movie?&api_key=${API_KEY}&query=${term.value}&language=fr-FR`;
        axios.get(query)
            .then(function(response) {
            console.log(response);
            displayResult(response.data.results)
        })
    }

    function displayResult(results) {
        resultsDiv.innerHTML = ''
        results.map(result => {
        let movieDiv= document.createElement('div')
        movieDiv.innerHTML = result.title
        resultsDiv.appendChild(movieDiv)
        })
    }
    </script>
    </body>
</html>